/* Import of Google font */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik+Scribble&family=Reem+Kufi+Fun:wght@400..700&display=swap');

/* rules to override browser */
* {
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;

    a:link {
        text-decoration: none;
    }
}

/* General styles for the body*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Styling for the header */
header {
    background-color: black;
    position: fixed;
    z-index: 50;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 1rem;
    margin: 0;
}

/* Styling of the logo */
#ice {
    font-family: 'Rubik Scribble', 'Indie Flower', sans-serif;
    font-style: normal;
    color: white;
}

/* Styling for the ul in the header */
#orientation {
    font-family: 'Rubik Scribble', 'Indie Flower', sans-serif;
    font-style: normal;
    font-size: 120%;
    color: white;
    list-style: none;
    padding-right: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
}


/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

.menu a {
    color: white;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: white;
    padding-right: 2rem;
}

/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 38px;
    background: url(../images/DSC_8395.jpg) no-repeat center center/cover;
}

#note {
    text-transform: uppercase;
    background: rgb(255, 255, 255);
    padding: 25px 50px;
}

h2 {
    font-family: 'Rubik Scribble', 'Indie Flower', sans-serif;
    font-style: normal;
    font-size: 120%;
    color: black;
    text-align: center;
    margin-top: 10px;
}

h3 {
    font-family: 'Reem Kufi Fun', sans-serif;
    font-style: normal;
    font-size: 120%;
    color: black;
    text-align: center;
    background: rgba(255, 255, 255, .4);
}

h4 {
    font-family: 'Reem Kufi Fun', sans-serif;
    font-style: normal;
    font-size: 100%;
    color: black;
    text-align: center;
    background: rgba(255, 255, 255, .4);
}

p {
    font-family: 'Indie Flower', sans-serif;
    font-style: normal;
    font-size: 100%;
    color: black;
    text-align: center;
    background: rgba(255, 255, 255, .4);
}

.contact {
    font-family: 'Reem Kufi Fun', sans-serif;
    font-style: normal;
    font-size: 100%;
    color: black;
    text-align: center;
    background: rgba(255, 255, 255, .4);
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}

.flex-container>div {
    padding: 1rem 2rem 1rem;
}

/* Gallery page */
#gallery img {
    width: 100%;
    line-height: 1em;
}

#gallery {
    line-height: 0;
}

/* Footer */
footer {
    background-color: black;
}

#social-media {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 160%;
    padding: 5px;
    color: white;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    h2 {
        font-size: 170%;
    }
}

/* Media query: laptops and larger (1024px and up) */
@media screen and (min-width: 1024px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }


    #ice {
        font-size: 250%;
    }

    .menu {
        font-size: 150%;
    }

    main {
        margin-top: 47px;
    }
}