/* Import of Google font */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik+Scribble&display=swap')

/* rules to override browser */
* {
    padding : 0;
    margin: 0;
}

/* Styling for the header */
header {
    background-color: black;
    position: fixed;
    z-index: 50;
    width: 100%;f
    display: flex;
    align-items: base;
    justify-content: space-between;
}
